/* BEGIN MOBILE STYLING*/
/* BEGIN GENERAL STYLING*/
:root {
    --primary-dark: rgb(0, 0, 110);
    --primary-light: rgb(196, 196, 196);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    max-width: 100vw;
}
/* END GENERAL STYLING*/

/* BEGIN HEADER/NAV STYLING*/
header {
    width: 100%;
    background: var(--primary-dark);
}

.n-f-padding {
    padding: 0.5rem;
}

ul {
    gap: 10px;
}

li {
    list-style-type: none;
}

header a {
    color: var(--primary-light);
    text-decoration: none;
}
/* END HEADER/NAV STYLING*/

/* BEGIN JUMBOTRON */
.jumbotron {
    color: #fff;
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.jumbotron > p {
    width: 100%;
}

.j-backdrop {
    background: rgba(71, 71, 71, 0.6);
    border-radius: 25px;
    color: #fff;
    margin: 25px;
}

.j-title {
    margin: 1.25rem 2rem 0 2rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #fff;
}
.j-subtitle {
    margin: 0.5rem 2rem 2rem 2rem;
}
/* END JUMBOTRON */

/* BEGIN GENERAL MAIN/INDEX STYLING*/
section {
    width: 90%;
    margin: 0 0 1rem 0;
}

aside {
    min-width: 20%;
    padding-right: 10px;
}

.right-shadow {
    border-right: 3px solid var(--primary-dark);
    box-shadow: inset 0 0 10px 2.5px white;
}

h2 {
    line-height: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

p {
    line-height: 1.2rem;
}

/* BEGIN ABOUT STYLING */
#about {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.headshot-container {
    margin: 0.5rem 0 1rem 0;
}

.headshot {
    border-radius: 50%;
    width: 50%;
}

.about-container {
    gap: 0.75rem;
}

.about {
    gap: 1rem;
}
/* END ABOUT STYLING */

/* BEGIN PROJECTS STYLING */
.projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    position: relative;
}

.project-tile a {
    display: inline-block;
}

.project-tile img {
    width: 100%;
    border: 2px solid rgb(0, 174, 255);
}

.project-tag {
    background: rgb(0, 174, 255);
    color: black;
    padding: 0.25rem 0.5rem 0.25rem 0;
    position: absolute;
    bottom: -5px;
    left: 8px;
}

.project-container p {
    margin: 0 0 0 5px;
    font-weight: bold;
}

.proj-title {
    font-size: 1.2rem;
}
.first-tile {
    padding: 0 10px;
    position: relative;
}

.first-tile a {
    display: inline-block;
}

.first-tile img {
    width: 100%;
    height: auto;
    border: 3px solid rgb(0, 174, 255);
}

.first-project-tag {
    background: rgb(0, 174, 255);
    color: black;
    padding: 0.25rem 0.5rem 0.25rem 0;
    position: absolute;
    bottom: -5px;
    left: 18px;
}
/* END PROJECTS STYLING */
/* END MAIN/INDEX STYLING*/

/* BEGIN FOOTER STYLING*/
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: var(--primary-dark);
}

footer li {
    list-style-type: none;
}

footer a,
footer p {
    color: var(--primary-light);
}
/* END FOOTER STYLING*/
/* END MOBILE STYLING*/

/*--------------------------------------------------*/

/* BEGIN TABLET STYLING */
@media screen and (min-width: 768px) {
    /* BEGIN HEADER/NAV STYLING*/
    .n-f-padding {
        padding: 0.75rem;
    }

    ul {
        gap: 20px;
    }
    /* END HEADER/NAV STYLING*/

    /* BEGIN JUMBOTRON */
    .j-backdrop {
        margin: 45px;
    }

    .j-title {
        font-size: 2rem;
    }
    .j-subtitle {
        margin: 1rem 2rem 2rem 2rem;
    }
    /* END JUMBOTRON */

    /* BEGIN GENERAL MAIN/INDEX STYLING*/
    section {
        width: 85%;
    }

    /* BEGIN ABOUT STYLING */
    .headshot-container {
        padding: 0.75rem;
    }
    .headshot {
        width: 75%;
    }

    aside {
        min-width: 15%;
    }
    /* END ABOUT STYLING */

    /* BEGIN PROJECTS STYLING */
    .projects {
        display: flex;
        flex-flow: row wrap;
        align-items: space-evenly;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .project-tile {
        width: 25%;
    }

    .first-tile {
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    /* END PROJECTS STYLING*/
}
/* END TABLET STYLING */

/*--------------------------------------------------*/

/* BEING DESKTOP STYLING */
@media screen and (min-width: 1024px) {
    /* BEGIN HEADER/NAV STYLING*/
    .n-f-padding {
        padding: 1rem;
    }
    /* END HEADER/NAV STYLING*/

    /* BEGIN JUMBOTRON */
    .j-backdrop {
        margin: 45px;
    }

    .j-title {
        font-size: 2rem;
    }
    .j-subtitle {
        margin: 1rem 2rem 2rem 2rem;
    }
    /* END JUMBOTRON */

    /* BEGIN GENERAL MAIN/INDEX STYLING*/
    section {
        width: 80%;
    }

    /* BEGIN ABOUT STYLING */
    .headshot-container {
        padding: 0.75rem;
    }
    .headshot {
        width: 100%;
    }

    aside {
        min-width: 15%;
    }
    /* END ABOUT STYLING */

    /* BEGIN PROJECTS STYLING */
    .projects {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .first-tile {
        width: 50%;
        padding: 0;
    }

    .project-tile {
        width: 25%;
    }

    .first-project-tag {
        background: rgb(0, 174, 255);
        color: black;
        padding: 0.25rem 0.5rem 0.25rem 0;
        position: absolute;
        bottom: -5px;
        left: 10px;
    }

    /* END PROJECTS STYLING*/
    /* END MAIN/INDEX STYLING*/

    /* BEGIN FOOTER STYLING*/
    footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
    }

    footer li {
        font-size: 1.5rem;
    }
    /* END FOOTER STYLING*/
}

/* END DESKTOP STYLING */

/*--------------------------------------------------*/

/* BEGIN PROJECT.HTML STYLING */
.project-desc p {
    margin-top: 1rem;
}

.project img {
    width: 95%;
}
/* BEGIN PROJECT.HTML STYLING */
