/* BEGIN CORE STYLING*/
:root {
    --primary-dark: rgb(0, 0, 110);
    --primary-light: rgb(196, 196, 196);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    max-width: 100vw;
}

.n-f-padding {
    padding: 0.5rem;
}

/* BEGIN HEADER/NAV STYLING*/
header {
    width: 100vw;
    background: var(--primary-dark);
}

ul {
    gap: 10px;
}

li {
    list-style-type: none;
}

header a {
    color: var(--primary-light);
    text-decoration: none;
}
/* END HEADER/NAV STYLING*/

/* BEGIN JUMBOTRON */
.jumbotron {
    color: #fff;
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.jumbotron > p {
    width: 100%;
}

.j-backdrop {
    background: rgba(71, 71, 71, 0.6);
    border-radius: 25px;
    color: #fff;
    margin: 25px;
}

.j-title {
    margin: 1.25rem 2rem 0 2rem;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
.j-subtitle {
    font-size: 1.5em;
    margin: 0.5rem 2rem 2rem 2rem;
}
/* END JUMBOTRON */

/* BEGIN MAIN STYLING*/
section {
    width: 85vw;
}

section p {
    padding-top: 1rem;
    line-height: 1.2rem;
    /* margin-left: 2rem; */
}

.section-padding-top {
    padding: 0.5rem;
}

.headshot-container {
    padding: 0.5rem;
}

.headshot {
    border-radius: 50%;
    width: 50%;
}

.project-container {
    width: 100%;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.project {
    max-width: 30%;
    height: auto;
}

.project img {
    width: 100%;
}

.project p {
    line-height: 1.2rem;
}
/* END MAIN STYLING*/

/* BEGIN FOOTER STYLING*/
footer {
    background: var(--primary-dark);
}

footer li {
    list-style-type: none;
    font-size: 1.5rem;
}

footer a,
footer p {
    color: var(--primary-light);
    padding-top: 0.5rem;
}
/* END FOOTER STYLING*/

/* Flexbox micro classes */
.flex {
    display: flex;
}

.row {
    flex-flow: row nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.column {
    flex-flow: column nowrap;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 480px) {
}
